<div class="list-countries">
  <h1>Edit Countries</h1>
  <div class="edit-countries" ng-if="editListing">
    <label>Country name: <input type="text" ng-model="existListing.name" /><br />
    Region: <input type="text" ng-model="existListing.region"/><br />
    <button ng-show="editListing" ng-click="saveEditCountry()">Save</button>
  </div>
  <table border="1">
    <thead>
      <tr>
        <th>Country Name: </th>
        <th>Region: </th>
        <th>Option:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="country in all | filter: search">
        <td>
          <div ng-hide="editingData[tableData.id]">{{country.name}}</div>
        </td>
        <td>{{ country.region }}</td>
        <td>
          <button ng-click="editCountry(country)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
