
  <h3>List Countries</h3>
  <div class="form-group">
    <label for="srch">Search:</label>
    <input type="text" ng-model="search" class="form-control" placeholder="Give me a countries..." autofocus/>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Country Name</th>
        <th>Region</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="country in all | filter: search">
        <td>{{ country.name }}</td>
        <td>{{ country.region }}</td>
      </tr>
    </tbody>
  </table>
